# a config file for simx tests

LOG_COUT_LEVEL    info
LOG_LEVEL         debug3
LOG_FILE          TEMPLATE.log
LOG_ABORT_ACTION  ABORT

SEED		2
NUMBER_LPS 	2
END_TIME 	1000

INFO_FILES 	
SERVICE_FILES 	
ENTITY_FILES	
OUTPUT_FILE	

# backtraces don't mean anything under DaSSF, since it does funny things with the call stack
LOG_BACKTRACE_ON_ABORT false

